body {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    opacity: 1;
    width: 1px;
    height: 5px;
    background-color: rgb(66, 66, 66);
}
::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: rgb(148, 148, 148);
}

.pageContainer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 0.12fr 1.88fr;
    gap: 0px 0px;
    grid-template-areas:
        'sidebar header'
        'sidebar main';
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: rgb(32, 32, 32);
    font-family: 'Roboto';
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header .menuButton {
    color: white;
    display: none;
}
.searchButton {
    position: relative;
    margin-right: 80px;
    height: 40px;
}
.searchButton:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
.sidebar {
    grid-area: sidebar;
    background-color: rgb(51, 53, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main {
    grid-area: main;
    background-color: rgb(214, 214, 214);
    overflow-y: auto;
}
.action {
    height: 100%;
    padding-left: 2rem;
}
.action .watchlistTitle {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding-top: 1.2rem;
}
.action .watchlistTitle h2 {
    margin-right: 1rem;
}
.watchlist {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 90%;
}

.btn {
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

#watchingCard {
}
.homeHeader {
    grid-area: homeHeader;
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    background-position: center;
    background-color: rgb(24, 26, 27);
}
.homeHeader h1 {
    font-size: 20rem;
    font-weight: bolder;
    color: rgb(201, 77, 77);
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 1rem;
}

.topAnime {
    grid-area: topAnime;
    height: 1293px;
    padding: 1rem;
    background-color: rgb(69, 75, 78);
}
.topAnime h4 {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 14px;
}
.topAnime h4:hover {
    font-weight: bolder;
    color: rgb(146, 146, 255);
}
.animeList {
    grid-area: animeList;
    background-color: rgb(47, 51, 53);
    padding-left: 1rem;
    padding-right: 1rem;
}
.news {
    grid-area: news;
    height: 940px;
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 51, 53);
}
.news .upcomingWrapper {
    height: 90%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-self: center;
    width: 90%;
    grid-gap: 1rem;
}
.news .upcomingList {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.news img:hover {
    transform: scale(1.03);
    transition: all 0.3s;
    border: solid black 1px;
}
.news img {
    width: 100px;
}
.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.footer div {
    margin: 10px;
}
.footer .socmedItem {
    margin-left: 5px;
    margin-right: 5px;
}
.footer .socmedItem:hover {
    color: rgb(201, 77, 77);
    transition: all 0.1s;
    cursor: pointer;
}
.footer P {
    font-size: 12px;
}
.homeWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.3fr 0.9fr 0.8fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
        'homeHeader homeHeader homeHeader'
        'animeList animeList topAnime'
        'news news topAnime'
        'news news topAnime'
        'footer footer footer';
}
.d-block {
    object-fit: cover;
}
.carousel {
    width: 500px;
    margin: auto;
}
.carousel img {
    height: 400px;
    object-fit: cover;
}

.airing {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
}

.airing img {
    width: 150px;
    height: 160px;
    object-fit: cover;
}
.airingCard {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .watchlist {
        display: flex;
    }
    .homeHeader h1 {
        font-size: 10rem;
    }
}

@media only screen and (max-width: 1000px) {
    .news .upcomingWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        height: 90%;
        width: 100%;
        overflow-x: hidden;
    }
    .topAnime {
        grid-area: topAnime;
        overflow-y: auto;

        padding: 1rem;
        background-color: rgb(69, 75, 78);
    }
    .pageContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1.8fr;
        gap: 0px 0px;
        grid-template-areas:
            'header header'
            'main main';
    }
    .main {
        grid-area: main;
    }
    .header {
        grid-area: header;
        justify-content: space-between;
    }
    .sidebar {
        display: none;
    }
    .pageContainer #hidden {
        display: unset;
        position: absolute;
        left: 0px;
        height: 100vh;
        z-index: 1;
        transition: all 1s;
    }
    .watchlist {
        overflow-y: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        height: 90%;
        width: 100%;
    }
    .header .menuButton {
        display: unset;
        margin-left: 20px;
    }
    .searchButton {
        position: relative;
        margin-right: 20px;
        height: 40px;
    }
}
